<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <form action="{{ path('uploads_avatar') }}" method="post">
            <input type="file" name="files">
            <button type="submit">envoi</button>
        </form>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
