Hello World!
fdgdgdg
<form action="{{ path('uploads_avatar', {student: 'ded3374c-d845-11e7-9682-7427ead9d9d4'}) }}" method="post" enctype="multipart/form-data">
    <input type="file" name="files">
    <button type="submit">envoi</button>
</form>
